.header {
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #efeff2;
	padding: 0 3rem;
	border-bottom: 2px solid #ddd;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
}

.header li {
	margin-left: 3rem;
}

nav {
	font-size: 1rem;
}

@media (max-width: 400px) {
	.title {
		font-size: 1.2rem;
	}
	.header {
		padding: 0 1.5rem;
	}
}