.title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.input {
	width: calc(100% - 8px);
	height: 1.5rem;
	font: 1.5rem;
	letter-spacing: 0.1rem;
	margin-top: 1rem;
}

.alphabet {
	letter-spacing: 0.1rem;
	/* font-style: normal; */
}

.actions {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.halt {
	margin-top: 2rem;
	text-align: center;
}

.strong {
	font-weight: 600;
}

@media (max-width: 400px) {
	.title {
		font-size: 1.1rem;
	}
}